@mixin center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin text {
  font-size: 1.6rem;
  letter-spacing: 0.2px;
}

$link-width: 150px;

.nav {
  @include center();
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
  position: relative;

  &__highlighter {
    position: absolute;
    top: 100%;
    width: $link-width;
    height: 2px;
    background-color: #000;
    transition: left ease-in-out 0.2s;
  }

  ul {
    @include center();
    list-style: none;
  }

  li {
    width: $link-width;
  }

  &__link {
    @include text();

    display: block;
    text-align: center;
    text-decoration: none;
    padding: 8px 0px;
    color: #000;

    &.active {
      color: var(--primary-color);
    }
  }

  &__user-action {
    @include center();

    padding-right: 50px;
  }

  &__user {
    @include center();
    @include text();

    img {
      width: 30px;
      margin-right: 5px;
    }
  }

  &__btn {
    @include text();

    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 30px;
  }
}
