.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 0vw;
  height: 5px;

  background: var(--primary-color);

  &.show {
    transition: all ease-in-out 1s;

    top: 0;
    width: 100vw;
  }
}
