.form-field {
  padding: 6px 0;

  &__label {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.5px;

    &.required::after {
      content: "*";
      color: #d62424;
    }
  }

  &__control {
    width: 100%;
  }

  &__message {
    height: 0px;
    padding-left: 8px;

    font-size: 1.2rem;
    color: #d62424;

    &.show {
      height: 18px;
      animation: show-message ease-in 0.2s;
    }
  }
}

@keyframes show-message {
  from {
    height: 0px;
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    height: 18px;
    transform: translateY(0%);
    opacity: 1;
  }
}
